<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />

        <title>{{ site.title }} - {{ site.slug }}</title>
        <meta name="author" content="{{ site.title }}" />
        <link href="/atom.xml" rel="alternate" title="{{ site.title }}" type="application/atom+xml" />
        <link href="/favicon.png" rel="icon" type="image/x-icon" />

        <link href="/assets/css/main.css" rel="stylesheet" />
        <noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
    </head>

    <body class="is-preload">

        {{ content }}

        <footer id="footer" class="wrapper style1-alt">
            <div class="inner">
                <ul class="menu">
                    <li>
                        &copy; {{ site.legalname }}
                    </li>
                    <li>
                        Design: <a href="https://github.com/Vraid-Systems/wp_hyperspace">HTML5 UP</a>
                    </li>
                    <li>
                        Images: <a href="https://unsplash.com/@wolfgang_hasselmann">Wolfgang</a>
                    </li>
                    <li>
                        NAICS 541514+541611
                    </li>
                </ul>
            </div>
        </footer>

        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/jquery.scrollex.min.js"></script>
        <script src="/assets/js/jquery.scrolly.min.js"></script>
        <script src="/assets/js/browser.min.js"></script>
        <script src="/assets/js/breakpoints.min.js"></script>
        <script src="/assets/js/util.js"></script>
        <script src="/assets/js/main.js"></script>

    </body>

</html>
