---
layout: default
---

<section id="sidebar">
    <div class="inner">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/ideas/">Ideas</a></li>
            </ul>
        </nav>
    </div>
</section>

<div id="wrapper">
    <section class="wrapper style2 fade-up">
        <div class="inner">
            <div class="post">
                <h1 class="major">{{ page.title }}</h1>
                <h3 class="post-data">{{ page.tags | array_to_sentence_string }}</h3>
                <br />
                {{ content }}
            </div>
        </div>
    </section>
</div>
